.homepage {
	background-image: linear-gradient(#F8DABF, #EC5563);
	min-height: 100%;
	background-attachment: fixed;
}

.homeHeader {
	position: static;
	padding-top:20px;

}

.indexMain {
	position: relative;
	padding-top: 100px;
	width: 100%;
	height: auto;
}

.hmain {
	position: relative;
	top: -95px;
	text-align: center;
	font-family: GeosansLight;
	font-size: 100px;
	color: #000;
}

.pmain {
	top: -105px;
	position: relative;
	text-align: center;
	font-family: GeosansLight;
	font-size: 35px;
	color: #000;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
