@font-face{
	font-family: 'GeosansLight';
	src: url('./fonts/GeosansLight.tff');
}
* {
	margin: 0;
	padding: 0;
}

body{
	font-family: GeosansLight;
}

a{
	font-family: GeosansLight;
	color: #cc4747;
	text-decoration: none;

}

body .current a{
 	color:#d8d8d8;
 	text-decoration: none;
}

#sidebar{
	position:absolute;
	min-width: 300px;
	height: 100%;
	background: #191919;
	left:-300px;
	transition: 0.8s;
	border-right: 2px color:#191919;
	border-radius: 0px;
	z-index: 1;
}

#sidebar.active{
	left:0px;
}

#sidebar ul li{
	list-style: none;
	color: #cc4747;
	font-size: 20px;
	padding: 20px 24px;
}

#sidebar .toggleB{
	position: absolute;
	top:30px;
	left:330px;
}
.toggleB span{
	width: 30px;
	height: 	4px;
	background: #191919;
	display: block;
	margin-top: 4px;
	cursor: pointer;
	border: 20px color:#191919;
	border-radius: 20px;
}

.Header{
	position: static;
	background:#a2a2a2;
	color:#000000;
	padding-top:10px;
	padding-bottom: 10px; 
	min-height: 90px;
	border-bottom: #000000 3px solid;
	font-family: GeosansLight;
	font-size: 50px;
	text-align: center;

}


.button{
	background-color: #cc4747;
	border: #d8d8d8;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 0px;
	cursor: pointer;
	position: absolute;
	transition: .5s ease;
	top: 50%
	left: 50%;
	width: 100%;
}


