@font-face{
	font-family: 'GeosansLight';
	src: url('./fonts/GeosansLight.tff');
}
* {
	margin: 0;
	padding: 0;
}

body{
	font-family: GeosansLight;
}

a{
	font-family: GeosansLight;
	color: #cc4747;
	text-decoration: none;

}
body .current a{
 	color:#d8d8d8;
 	text-decoration: none;
}

#sidebar{
	position:absolute;
	min-width: 300px;
	height: 100%;
	background: #191919;
	left:-300px;
	transition: 0.8s;
}

#sidebar.active{
	left:0px;
}

#sidebar ul li{
	list-style: none;
	color: #cc4747;
	font-size: 20px;
	padding: 20px 24px;
	border-bottom: 1px solid #000000
}

#sidebar .toggleB{
	position: absolute;
	top:30px;
	left:330px;
}
.toggleB span{
	width: 30px;
	height: 	4px;
	background: #191919;
	display: block;
	margin-top: 4px;
}

header{
	position: static;
	background:#b2b2b2;
	color:#000000;
	padding-top:10px;
	padding-bottom: 10px; 
	min-height: 65px;
	border-bottom: #cc4747 3px solid;
	font-family: GeosansLight;
	font-size: 50px;
	text-align: center;
}

img {
	position:absolute;
	top: 0;
	right: 200px;
}