@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

 body{
 	font-size: 100%;
 	font-family: 'Montserrat';
 	letter-spacing: 1px;
 	line-height: 1.4;
 	padding:0px;
 	margin:0;
 	background-color:#cdd0d6; /*cc4747*/
 	position: relative;
 	padding-bottom: 5rem;
 	min-height: 100%;
 }
body p{
	margin-bottom: 0px;
}
 /* G L O B A L */
.container{ /*class container*/
	width:82%;
	margin:auto;
	overflow:hidden;
	padding-top: 0px;
}
 ul{
	margin:0;
	padding:0;
}
.button_1{
	height:38px;
	background:#cc4747;
	size: 16px/1.5;
	font-family: 'Montserrat', cursive;
	font-weight: bold;
	border: 0;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;

}
/* H E A D E R */
header{
	position: static;
	background:#b2b2b2;
	color:#000000;
	padding-top:10px;
	padding-bottom: 10px; 
	min-height: 60px;
	border-bottom: #cc4747 3px solid;

}
header a{
	color: #000000;
	text-decoration:none;
	text-transform: uppercase;
	font-weight: 900;
}
header li{
	float:left;
	display:inline;
	padding: 0 40px 10px 20px;
	font-size: 30px;
}
header #branding{
	float:left;
}
 header nav{
 	margin-top: 55px;
 	float:right;
 }
header .current a{
 	color:#cc4747;
 	font-weight:bold;
 }
 header a:hover{
 	color:#cccccc;
 	font-weight:1400px;
 }

 /* S H O W C A S E */
 #showcase{
 	min-height: 300px;
 	background:url('../img/troy.jpg') no-repeat;
 	background-size: cover;
 }
 #showcase h1{
 	margin-top: 30px;
 	font-size: 55px;
 	margin-bottom: 10px;
 }
 #showcase p{
 	font-size: 20px;
 }
 /* N E W S L E T T E R */
#newsletter{
	/*border-top: #000000 3px solid;*/
	padding: 15px;
	color:#000000;
	background: #b2b2b2;
}
#newsletter h1{
	margin-top: 15px;
	float:left;
}
#newsletter form{
	float:right;
	margin-top: 15px;
}
#newsletter input[type="email"]{
	padding: 4px;
	height:39.5px;
	width:200px;
	font: 16px/1.5,-- Montserrat, Arial;
	padding-left: 10px;
	font-style: italic;
}
/* 	S U B J E C T S */
#boxes{
	margin-top: 30px;
	margin-left: 10vw;
	margin-bottom: 0px;
}
#boxes .box{
	float: left;
	width: 30%;
	text-align: center;
	padding: 10px;
	
	margin-right: 0px;
	position: relative;
}
#boxes .box img{
	width: 90px;
}

#boxes a{
		color: #000000;
	text-decoration:none;
	text-transform: uppercase;
	font-weight: 900;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #cc4747;
  text-align: center;
  min-width: 100%;
}
}
html {
    min-height: 100%;
}
body {
    min-height: 100%;
}
p{
	max-width: 100%;
}
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
}